body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

.container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.juliancnoteblue {
	width: 30%;
}

.julianheadshot {
	width: 30%;
	flex: 1;
}

.pcbridgegrey {
	width: 30%;
	flex: 2;
}

h3 {
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}