body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border: 4px solid white;
}

.artistbio {
	flex: 1;
	color: white;
	width: 50%;
}