body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.linkslist {
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
    min-height: 50px;
}