body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

body {
	min-height: 100%;
}

footer {
	text-align: center;
    min-height: 50px;
    background: gray;
}