body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

.navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.drumvideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}