body {
	background-color: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-size 60px;
}

h2 {
	text-align: center;
	color: white;
}

img {
	  margin-right: auto;
	  width: 40%;
	  padding-left: 20px;
}

.artistbio {
	color: white;
	width: 50%;
	margin-left: auto;
}